<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" style="background-color: white" data-animated role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-logo">
                <a ui-sref="website-student.courses"><img style="height:50%; width:50%;"  src="images/emc-logo.png"></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <!-- <ul class="nav navbar-nav navbar-nav-margin-left">
                <li class="dropdown" ng-class="{ 'active': $state.includes('website-pages') || $state.includes('website-forum') || $state.includes('website-blog') }">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="website-pages.home">Home page</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-pages.pricing">Pricing</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-pages.tutors">Tutors</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-pages.survey">Survey</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-pages.contact">Contact</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{ 'active': $state.includes('website-courses') }">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="website-courses.grid">Grid Directory</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-courses.list">List Directory</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-courses.single">Single Course</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{ 'active': $state.includes('website-student') }">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="website-student.dashboard">Dashboard</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-student.courses" >My Courses</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-student.take-course">Take Course</a></li>
                        <li ng-class="{ 'active' : $state.is('website-student.course-forums') || $state.is('website-student.course-forum-thread') }"><a ui-sref="website-student.course-forums">Course Forums</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-student.take-quiz">Take Quiz</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-student.messages">Messages</a></li>
                        <li ng-class="{ 'active' : $state.is('website-student.private-profile') || $state.is('website-student.billing') }"><a ui-sref="website-student.private-profile">Private Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="website-instructor.dashboard">Dashboard</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-instructor.courses">My Courses</a></li>
                        <li ng-class="{ 'active' : $state.is('website-instructor.edit-course') || $state.is('website-instructor.edit-course-meta') || $state.is('website-instructor.edit-course-lessons') }"><a ui-sref="website-instructor.edit-course">Edit Course</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-instructor.earnings">Earnings</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-instructor.statement">Statement</a></li>
                        <li ui-sref-active="active"><a ui-sref="website-instructor.messages">Messages</a></li>
                        <li ng-class="{ 'active' : $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a ui-sref="website-instructor.private-profile">Private Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
                        <li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
                        <li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
                        <li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
                        <li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
                        <li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
                        <li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
                    </ul>
                </li>
            </ul> -->
            <div class="navbar-right">
                <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
                    <!-- user -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="images/people/110/guy-6.jpg" alt="" class="img-circle"/>::user.name::<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ui-sref-active="active"><a ui-sref="website-student.dashboard"><i class="fa fa-bar-chart-o"></i> Timeline</a></li>
                            <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
                            <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
                            <li ng-if="user.role == 'instructor' " ui-sref-active="active"><a ui-sref="website-instructor.edit-course"><i class="fa fa-user"></i>Add New Course</a></li>
                            <li><a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- // END user -->
                </ul>
                <a ui-sref="login" class="navbar-btn btn btn-danger btn-stroke">Logout</a>
            </div>
        </div><!-- /.navbar-collapse -->

    </div>
</div>

<div class="container">

    <div class="page-section">
        <div class="row">

            <div class="col-md-9">

                
    <div class="row" data-toggle="isotope">

    <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
    
    <div class="cover overlay cover-image-full hover">
        <span class="img icon-block height-150 bg-default"></span>
        <a ui-sref="website-instructor.edit-course" class="padding-none overlay overlay-full icon-block bg-default">
            <span class="v-center">
                <i class="fa fa-github"></i>
            </span>
        </a>
        
        <a ui-sref="website-instructor.edit-course" class="overlay overlay-full overlay-hover overlay-bg-white">
            <span class="v-center">
                <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
            </span>
        </a>
        
    </div>
    
    <!-- change course details -->
    <div class="panel-body" >
        <h4 class="text-headline margin-v-0-10"><a ui-sref="website-instructor.edit-course" ng-click="setCourseId('');">Github Webhooks for Beginners</a></h4>  
    </div>
    <hr class="margin-none" />
    <div class="panel-body">
        
    </div>
    
</div>
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
    
    <div class="cover overlay cover-image-full hover">
        <span class="img icon-block height-150 bg-primary"></span>
        <a ui-sref="website-instructor.edit-course" class="padding-none overlay overlay-full icon-block bg-primary">
            <span class="v-center">
                <i class="fa fa-css3"></i>
            </span>
        </a>
        
        <a ui-sref="website-instructor.edit-course" class="overlay overlay-full overlay-hover overlay-bg-white">
            <span class="v-center">
                <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
            </span>
        </a>
        
    </div>
    
    <!-- change course details -->
    <div class="panel-body" >
        <h4 class="text-headline margin-v-0-10"><a ui-sref="website-instructor.edit-course" ng-click="setCourseId('');">Awesome CSS with LESS Processing</a></h4>  
    </div>
    <hr class="margin-none" />
    <div class="panel-body">
        
    </div>
    
</div>
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
    
    <div class="cover overlay cover-image-full hover">
        <span class="img icon-block height-150 bg-lightred"></span>
        <a ui-sref="website-instructor.edit-course" class="padding-none overlay overlay-full icon-block bg-lightred">
            <span class="v-center">
                <i class="fa fa-windows"></i>
            </span>
        </a>
        
        <a ui-sref="website-instructor.edit-course" class="overlay overlay-full overlay-hover overlay-bg-white">
            <span class="v-center">
                <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
            </span>
        </a>
        
    </div>
    
    <!-- change course details -->
    <div class="panel-body" >
        <h4 class="text-headline margin-v-0-10"><a ui-sref="website-instructor.edit-course" ng-click="setCourseId('');">Vagrant Portable Environments</a></h4>  
    </div>
    <hr class="margin-none" />
    <div class="panel-body">
        
    </div>
    
</div>
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        <div class="panel panel-default paper-shadow" data-z="0.5">
    
    <div class="cover overlay cover-image-full hover">
        <span class="img icon-block height-150 bg-grey-200"></span>
        <a ui-sref="website-instructor.edit-course" class="padding-none overlay overlay-full icon-block bg-grey-200">
            <span class="v-center">
                <i class="fa fa-plus text-grey-600"></i>
            </span>
        </a>
        
    </div>
    
</div>
    </div>

</div>
<ul class="pagination margin-top-none">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>


                <br/>
                <br/>

            </div>
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
    <div class="panel-heading panel-collapse-trigger">
        <h4 class="panel-title">My Account</h4>
    </div>
    <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.dashboard">Dashboard</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.courses">My Courses</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.messages">Messages</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.earnings">Earnings</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-instructor.statement">Statement</a></li>
            <li class="list-group-item" ng-class="{ 'active': $state.is('website-instructor.private-profile') || $state.is('website-instructor.billing') }"><a class="link-text-color" ui-sref="website-instructor.private-profile">Profile</a></li>
            <li class="list-group-item"><a class="link-text-color" ui-sref="login"><span>Logout</span></a></li>
        </ul>
    </div>
</div>

<h4>Featured</h4>
<div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
    <div class="panel-body">
        <div class="media media-clearfix-xs">
            <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                    <span class="img icon-block s90 bg-default"></span>
                    <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-github"></i>
                        </span>
                    </span>
                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Github Webhooks for Beginners</a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
    <div class="panel-body">
        <div class="media media-clearfix-xs">
            <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                    <span class="img icon-block s90 bg-primary"></span>
                    <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                        <span class="v-center">
                            <i class="fa fa-css3"></i>
                        </span>
                    </span>
                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Awesome CSS with LESS Processing</a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
    <div class="panel-body">
        <div class="media media-clearfix-xs">
            <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                    <span class="img icon-block s90 bg-lightred"></span>
                    <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                        <span class="v-center">
                            <i class="fa fa-windows"></i>
                        </span>
                    </span>
                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Portable Environments with Vagrant</a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
    <div class="panel-body">
        <div class="media media-clearfix-xs">
            <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                    <span class="img icon-block s90 bg-brown"></span>
                    <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                        <span class="v-center">
                            <i class="fa fa-wordpress"></i>
                        </span>
                    </span>
                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">WordPress Theme Development</a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
    <div class="panel-body">
        <div class="media media-clearfix-xs">
            <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                    <span class="img icon-block s90 bg-purple"></span>
                    <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                        <span class="v-center">
                            <i class="fa fa-jsfiddle"></i>
                        </span>
                    </span>
                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Modular JavaScript with Browserify</a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="item">
        <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
    <div class="panel-body">
        <div class="media media-clearfix-xs">
            <div class="media-left">
                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                    <span class="img icon-block s90 bg-default"></span>
                    <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                        <span class="v-center">
                            <i class="fa fa-cc-visa"></i>
                        </span>
                    </span>
                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                        <span class="v-center">
                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading margin-v-5-3"><a ui-sref="website-courses.single">Easy Online Payments with Stripe</a></h4>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

            </div>

        </div>
    </div>

</div>

<!-- Footer -->
<footer class="footer" style="background: #444444">
    <strong></strong> Copyright &copy; 2015 EMC Corporation. All Rights Reserved
</footer>
<!-- // Footer -->