<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" style="background-color: white" data-animated role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-logo">
                <a ui-sref="website-student.courses"><img style="height:50%; width:50%;"  src="images/emc-logo.png"></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-nav-margin-left">
                <li>
                    <a ui-sref="website-student.take-course-course-info"> Course Info </a>
                </li>
                <li>
                    <a ui-sref="website-student.take-course-announcement"> Announcements </a>
                </li>
                <li>
                    <a ui-sref="website-student.take-course-deadlines"> Deadlines </a>
                </li>
                <li>
                    <a ui-sref="website-student.take-course-resources"> Resources </a>
                </li>
                <li>
                    <a ui-sref="website-student.take-course-discussions"> Discussions </a>
                </li>
                <li>
                    <a ui-sref="website-student.take-course-students"> Students </a>
                </li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
                    <!-- user -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="images/people/110/guy-6.jpg" alt="" class="img-circle"/>::user.name::<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ui-sref-active="active"><a ui-sref="website-student.dashboard"><i class="fa fa-bar-chart-o"></i> Timeline</a></li>
                            <li ui-sref-active="active"><a ui-sref="website-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a></li>
                            <li ui-sref-active="active"><a ui-sref="website-student.private-profile"><i class="fa fa-user"></i> Profile</a></li>
                                <li ng-if="user.role == 'instructor' " ui-sref-active="active"><a ui-sref="website-instructor.edit-course"><i class="fa fa-user"></i>Add New Course</a></li>
                            <li><a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- // END user -->
                </ul>
                <a ui-sref="login" class="navbar-btn btn btn-danger btn-stroke">Logout</a>   
            </div>
        </div><!-- /.navbar-collapse -->

    </div>
</div>

<div class="container"  style= "background-image: url(::course.coverImage::)">     
    <div class="course-cover">
    <div class="row-fluid">
      <div class="col-md-12 white nopadding cover-info">
        <div>
          <h1><font style="color:white">::course.name::</font></h1>
        </div>
        <div class="row-fluid-main">
          <div class="row-fluid">
            <div class="col-xs-6 col-sm-3" style="">
                <p style="font-weight:bold;color:#fff;">
               
                            </p>
                <p style="font-weight:bold;color:#fff;">
                    ::course.credits::
                </p>
              
            </div>

            <div class="col-xs-6 col-sm-3 add-info" style="color:#fff">
              <p><strong>Instructors</strong></p>
              <ul>
                  <li ng-repeat="instructor in course.instructors">  
                        <img title="" data-toggle="tooltip" data-placement="top" ng-src="::instructor.image::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title= "::instructor.name::" >
                          ::instructor.name::
                    <br>
                  </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-3 add-info">
              <p><strong><font style="color:white">Teaching Assistants</font></strong></p>
              <div ng-repeat="ta in course.tas">
                <a href="#">
                  <img title="" data-toggle="tooltip" data-placement="top" ng-src="::ta.image::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="::ta.name::">
                  <font color="white">::ta.name::</font>
                </a>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 add-info">
                    <div id="follow">
                        <form accept-charset="UTF-8" action="/usercourses" class="new_usercourse" id="quick_new_usercourse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="XuvfvdBQw+eWvO/HwQnx2TNqf/gFa7gNx595jFau8uQ="></div>
    <input id="quick_usercourse_course_id" name="course[164]" type="hidden" value="0">
    <input id="quick_usercourse_user_id" name="usercourse[user_id]" type="hidden" value="781">
    <input id="1" name="ajax" type="hidden" value="value">
    <button class="btn btn-danger">LEAVE COURSE</button>
</form>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="page-section">
        <div class="row">

            <div class="col-md-9">

                  
	<div class="panel panel-default">   
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll Number</th>
                        <th>Email ID</th>
                    </tr>
                </thead>
                <tbody id="responsive-table-body">
                    <tr ng-repeat="student in students">
                        <td>::student.name::</td>
                        <td>::student.rollnumber::</td>
                        <td>::student.email::</td>
                    <tr>
                </tbody>
            </table>
        </div>  
</div>






                <br/>
                <br/>

            </div>
            <div class="col-md-3">

                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
    <div class="panel-heading panel-collapse-trigger">
        <h4 class="panel-title">Resources</h4>
    </div>
    <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-course">Curriculum</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.course-forums">Course Forums</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.take-quiz">Take Quiz</a></li>
            <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ui-sref="website-student.quiz-results">Quiz Results</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
    <div class="panel-heading panel-collapse-trigger">
        <h4 class="panel-title">Instructor</h4>
    </div>
    <div class="panel-body">
        <div class="media v-middle">
    <div class="media-left">
        <img src="images/people/110/guy-6.jpg" alt="About Adrian" width="60" class="img-circle"/>
    </div>
    <div class="media-body">
        <h4 class="text-title margin-none"><a href="#">Adrian Demian</a></h4>
        <span class="caption text-light">Biography</span>
    </div>
</div>
<br/>
<div class="expandable expandable-indicator-white expandable-trigger">
    <div class="expandable-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut consectetur
            consequatur cum cupiditate debitis doloribus, error ex explicabo harum illum minima
            mollitia nisi nostrum officiis omnis optio qui quisquam saepe sit sunt totam vel velit
            voluptatibus? Adipisci ducimus expedita id nostrum quas quia!</p>
    </div>
</div>
    </div>
</div>

            </div>

        </div>
    </div>

</div>

<!-- Footer -->
<footer class="footer" style="background: #444444">
    <strong></strong> Copyright &copy; 2015 EMC Corporation. All Rights Reserved
</footer>
<!-- // Footer -->