<div class="slick-basic slick-slider" data-items="{{ dataItems or 2 }}" data-items-lg="{{ dataItemsLg or 1 }}" data-items-md="{{ dataItemsMd or 1 }}" data-items-sm="{{ dataItemsSm or 1 }}" data-items-xs="{{ dataItemsXs or 1 }}"{% if rtl %} data-rtl="true"{% endif %}>
    <div class="item">
        {% include "src/html/themes/html/testimonial/_item-1.html" %}
    </div>
    <div class="item">
        {% include "src/html/themes/html/testimonial/_item-1.html" %}
    </div>
    <div class="item">
        {% include "src/html/themes/html/testimonial/_item-1.html" %}
    </div>
    <div class="item">
        {% include "src/html/themes/html/testimonial/_item-1.html" %}
    </div>
</div>