
<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" ng-repeat="announcement in course.announcements">  
	<h4>::announcement.announcement_title::</h4>
	<p>
	
		announced <abbr class="timeago" >::announcement.created_time | date:'yyyy-MM-dd HH:mm:ss Z'::</abbr>
	</p>

	<p>::announcement.announcement_text::</p>
</div>

<div ng-if="course.announcements.length == 0">
  	<center><h3>There are no announcements for ::course.name::</h3></center>
</div>






