
<div class="panel panel-default">
                    <div class="panel-body">
                       <form class="form-horizontal ng-pristine ng-valid" role="form" >
                            <div class="form-group form-control-material static">
                                <input ng-model="courseName" type="text" class="form-control" id="courseName" ><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="courseName">Name</label>
                            </div>

                            <div class="form-group form-control-material static">
                                <input ng-model="domain" type="text" class="form-control" id="domain"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="domain">Domain</label>
                            </div>

                             <div class="form-group form-control-material static">
                                <input ng-model="credits" type="number" class="form-control" id="credits"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="credits">Credits</label>
                            </div>

                             <div class="form-group form-control-material static">
                                <input ng-model="overview" type="text" class="form-control" id="overview"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="overview">Overview</label>
                            </div>

                             <div class="form-group form-control-material static">
                                <input ng-model="description" type="text" class="form-control" id="description"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="description">Description</label>
                            </div>

                            <div class="form-group margin-none">
                                <div class="col-sm-9">
                                   <center><button type="submit" ng-click="createNewCourse()" class="btn btn-primary">Add new course</button></center>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>