<div class="panel panel-default">
                    <div class="panel-body">
                       <form class="form-horizontal ng-pristine ng-valid" role="form" >
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-control-material">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Type here.." ng-model="courseName"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                        <label for="inputEmail3">Course name</label>
                                    </div>
                                </div>
                            </div>

                       <form class="form-horizontal ng-pristine ng-valid" role="form">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-control-material">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Type here.." ng-model="domain"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                        <label for="inputEmail3">Domain</label>
                                    </div>
                                </div>
                            </div>


                       <form class="form-horizontal ng-pristine ng-valid" role="form">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-control-material">
                                        <input type="number" class="form-control" id="inputEmail3" placeholder="Type here.." ng-model="credits"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                        <label for="inputEmail3">Credits</label>
                                    </div>
                                </div>
                            </div>

                       <form class="form-horizontal ng-pristine ng-valid" role="form">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-control-material">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Type here.." ng-model="overview"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                        <label for="inputEmail3">Overview</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="form-control-material">
                                        <textarea id="textarea" class="form-control" rows="5"></textarea ng-model="description"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                        <label for="textarea">Description</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group margin-none">
                                <div class="col-sm-offset-3 col-sm-9">
                                   <center><button type="submit" ng-click="createNewCourse()" class="btn btn-primary">Add new course</button></center>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>