
<div ng-if="user.role == 'instructor'" class="panel panel-default">
	<div class="panel-body">
	    <center>
		    <form role="form" class="form-inline">

		        <div class="form-group form-control-material static">  
	                <input ng-model="deadline.title" type="text" class="form-control" id="title"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
	                <label for="title">Title: </label>
	        	</div>

		        <div class="form-group form-control-material static">
		            <input id="datepicker" ng-model="deadline.date" type="text" class="form-control datepicker" ><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
		            <label for="datepicker">Datepicker: </label>
		        </div>

		      <button ng-file-select ng-model="deadline.file" class="btn btn-primary btn-stroke">Upload file and submit</button>
		    </form>
	    </center>
	</div>
</div>

 <div class="box" style="position: relative; min-height: 100px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" ng-repeat="deadline in deadlines">
    
     <a href="::base_download_url::/courses/::course.id::/deadline/::deadline.id::" target="_blank"><button class="btn btn-primary btn-stroke pull-right" style="margin-top:15px;margin-right:15px;">Download Deadline</button></a>

     <button ng-click="setAssessmentId('::deadline.id::');" ng-file-select ng-model="solution.file" style="margin-top:15px;margin-right:15px;" class="btn btn-success btn-stroke pull-right"><i class="icon-upload-alt"></i> Upload Solution</button>

     <a href="::base_download_url::/students/::user.id::/deadline/::deadline.id::" target="_blank">
     <button class="btn btn-primary btn-stroke pull-right" style="margin-top:15px;margin-right:15px;">Download Solution</button></a>

    <h4>
        ::deadline.deadline_title::
    </h4>

    <p>
      Uploaded: <abbr class="timeago" title="2015-04-15 10:51:50 +0530"> :: deadline.created_time | date:'yyyy-MM-dd HH:mm:ss' ::</abbr>
    </p>
</div>

<div ng-if="deadlines.length == 0">
    <center><h3>There are no deadlines for ::course.name::</h3></center>
</div>

