 <center><button style="margin: 20px 20px 20px 20px;" class="btn btn-primary" ng-file-select ng-model="files">Upload deadline</button></center>

 <div class="box" style="position: relative; min-height: 100px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" ng-repeat="deadline in deadlines">


    <button class="btn btn-success btn-stroke pull-right" style="margin-top:15px;" ng-file-select ng-model="files"><i class="icon-upload-alt"></i> Upload</button>

     <a href="::base_download_url::courses/::course.id::/course_material/::course_material.id::" target="_blank"><button class="btn btn-primary btn-stroke pull-right" style="margin-top:15px;margin-right:15px;">Download</button></a>

    <h4>
        ::deadline.deadline_title::
    </h4>

    <p>
      uploaded <abbr class="timeago" title="2015-04-15 10:51:50 +0530"> :: deadline.created_time | date:'yyyy-MM-dd HH:mm:ss Z' ::</abbr>
    </p>
</div>

<div ng-if="deadlines.length == 0">
    <center><h3>There are no deadlines for ::course.name::</h3></center>
</div>

