
<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Overview</h4>
    <p>
        ::course.overview::
    </p>
</div>


<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Description</h4>
    <p>
        ::course.description::
    </p>
</div>

<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Evaluation</h4>
    <p>
        <ul>
           <li ng-repeat="evaluation in course.evaluations">::evaluation::</li>
        </ul>
    </p>
</div>

<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Pre-Requisites</h4>
    <p>
        <ul>
           <li ng-repeat="pre_requisite in course.pre_requisites">::pre_requisite::</li>
        </ul>
    </p>
</div>

<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Class timings</h4>
    <p>
        <ul>
           <li ng-repeat="class_timing in course.class_timings">::class_timing::</li>
        </ul>
    </p>
</div>

<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Office hours</h4>
    <p>
        <ul>
           <li ng-repeat="office_hours in course.office_hours">::office_hours::</li>
        </ul>
    </p>
</div>

<div style="position: relative; min-height: 50px; padding-right: 15px; padding-left: 15px; margin-bottom: 20px; background-color: #ffffff; border: 1px solid #eee; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" >  
    <h4>Textbooks</h4>
    <p>
        <ul>
           <li ng-repeat="textbook in course.textbooks">::textbook::</li>
        </ul>
    </p>
</div>







