<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}" id="sidebar-menu">
    <div class="split-vertical">

        <h4 class="category">Time to complete</h4>
        <div class="sidebar-block">
            <div class="tk-countdown"></div>
        </div>

        <div class="split-vertical-body">
            <div class="split-vertical-cell">
                <div data-scrollable>
                    <h4 class="category">Questions</h4>
                    <ul class="sidebar-block list-group list-group-fit">
                        <li class="list-group-item">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-green-400 text-white">1</div>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="sidebar-link">Dolores explicabo mollitia nisi perspiciatis quas. Itaque.</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-blue-400 text-white">2</div>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="sidebar-link">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-grey-400 text-white">3</div>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="sidebar-link">A aliquam dolore et explicabo possimus vitae?</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-grey-400 text-white">4</div>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="sidebar-link">Optio perspiciatis quasi reprehenderit voluptas?</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media v-middle">
                                <div class="media-left">
                                    <div class="icon-block s30 bg-grey-400 text-white">5</div>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="sidebar-link">Cum dignissimos dolores et illum magni minus?</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h4 class="category">Legend</h4>
        <div class="sidebar-block">
            <ul>
                <li><a href="#" class="sidebar-link"><span class="fa fa-fw fa-circle text-green-400"></span> Answered question</a></li>
                <li><a href="#" class="sidebar-link"><span class="fa fa-fw fa-circle text-blue-400"></span> Selected question</a></li>
            </ul>
        </div>

    </div>
</div>