<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}" id="sidebar-library">
    <div data-scrollable>
        <h4 class="category">Category</h4>
        <ul class="sidebar-block list-group list-group-menu list-group-minimal">
            <li class="list-group-item"><a href="#"><span class="badge pull-right">120+</span> Design</a></li>
            <li class="list-group-item active"><a href="#"><span class="badge pull-right">30+</span> Programming</a></li>
            <li class="list-group-item"><a href="#"><span class="badge pull-right">40+</span> WordPress</a></li>
            <li class="list-group-item"><a href="#"><span class="badge pull-right">60+</span> Workflow</a></li>
            <li class="list-group-item"><a href="#"><span class="badge pull-right">15+</span> HTML</a></li>
            <li class="list-group-item"><a href="#"><span class="badge pull-right">25+</span> CSS</a></li>
            <li class="list-group-item"><a href="#"><span class="badge pull-right">35+</span> iOS</a></li>
            <li class="list-group-item"><a href="#"><span class="badge pull-right">20+</span> Free</a></li>
        </ul>

        <h4 class="category">View</h4>
        <div class="sidebar-block">
            <div class="form-group">
                <select class="selectpicker">
                    <option>List</option>
                    <option>Grid</option>
                </select>
            </div>
        </div>

        <h4 class="category">Price</h4>
        <div class="sidebar-block">
            <div class="form-group input-group">
                <div class="row margin-none">
                    <div class="col-xs-6 padding-none">
                        <input class="form-control" type="text" placeholder="Min .." />
                    </div>
                    <div class="col-xs-6 padding-none">
                        <input class="form-control" type="text" placeholder="Max .." />
                    </div>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>