<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}">
	<div class="split-vertical">
		<div class="sidebar-block tabbable tabs-icons">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#sidebar-activity" data-toggle="tab"><i class="fa fa-bars"></i></a></li>
				<li><a href="#sidebar-tabs-chat" data-toggle="tab"><i class="fa fa-comments"></i></a>
				</li>
			</ul>
		</div>
		<div class="split-vertical-body">
			<div class="split-vertical-cell">
				<div class="tab-content">
					<!-- First Tab Content -->
					<div class="tab-pane active" id="sidebar-activity">
						<div data-scrollable>
							<div class="sidebar-feed">
								<ul>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
									<li class="media news-item">
										<div class="media-left">
											<i class="fa fa-fw fa-bell activity-icon"></i>
										</div>
										<div class="media-body">
											<a href="">Adrian</a> just logged in
											<span class="time">2 min ago</span>
										</div>
										<div class="media-right">
											<span class="news-item-success "><i class="fa fa-circle"></i></span>
										</div>
									</li>
								</ul>
							</div>
							<!--End user-->
						</div>
					</div>
					<!-- Second Tab Content -->
					<div class="tab-pane" id="sidebar-tabs-chat">
						{% include "lib/chat/html/_chat.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>