<div class="split-vertical">

    <div class="s-container">
        <div class="text-subhead-2 text-light">Time to complete</div>
        <div class="tk-countdown"></div>
    </div>

    <div class="split-vertical-body">
        <div class="split-vertical-cell">

            <div class="panel panel-default margin-none">
                <div class="split-vertical">
                    <div class="panel-heading">
                        <h4 class="panel-title">Questions</h4>
                    </div>
                    <div class="split-vertical-body">
                        <div class="split-vertical-cell">
                            <div data-scrollable class="panel-body list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-green-400 text-white">1</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Dolores explicabo mollitia nisi perspiciatis quas. Itaque.</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-blue-400 text-white">2</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">3</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">A aliquam dolore et explicabo possimus vitae?</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">4</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Optio perspiciatis quasi reprehenderit voluptas?</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">5</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">6</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">7</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">8</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media v-middle">
                                            <div class="media-left">
                                                <div class="icon-block s30 bg-grey-400 text-white">9</div>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="link-text-color">Cum dignissimos dolores et illum magni minus?</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <h4 class="text-subhead margin-v-0-5">Legend</h4>
                        <span class="fa fa-fw fa-circle text-green-400"></span> Answered question <br/>
                        <span class="fa fa-fw fa-circle text-blue-400"></span> Selected question
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>