<div class="page-section">
    <div class="media v-middle">
        <div class="media-body">
            <h1 class="text-display-1 margin-none">Library</h1>
            <p class="text-subhead">Browse through thousands of lessons.</p>
        </div>
        <div class="media-right">
            <div class="width-100 text-right">
                <div class="btn-group">
                    <a class="btn {% if page.slug == 'app-directory-grid' %}btn-grey-800{% else %}btn-white{% endif %}" href="app-directory-grid.html"><i class="fa fa-th"></i></a>
                    <a class="btn {% if page.slug == 'app-directory-list' %}btn-grey-800{% else %}btn-white{% endif %}" href="app-directory-list.html"><i class="fa fa-list"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>