<ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
	<li class="list-group-item paper-shadow">
		<div class="media v-middle">
			<div class="media-left">
				<a href="#">
					<img src="images/people/110/guy-3.jpg" alt="person" class="img-circle width-40"/>
				</a>
			</div>
			<div class="media-body">
				<a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.thread"{% else %}href="{{ slug or 'app' }}-forum-thread.html"{% endif %} class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
				<div class="text-light">
					Topic: <a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.category"{% else %}href="{{ slug or 'app' }}-forum-category.html"{% endif %}>AngularJS</a> &nbsp;
					By: <a href="#">Adrian Demian</a>
				</div>
			</div>
			<div class="media-right">
				<div class="width-60 text-right">
					<span class="text-caption text-light">1 hr ago</span>
				</div>
			</div>
		</div>
	</li>
	<li class="list-group-item paper-shadow">
		<div class="media v-middle">
			<div class="media-left">
				<a href="#">
					<img src="images/people/110/guy-6.jpg" alt="person" class="img-circle width-40"/>
				</a>
			</div>
			<div class="media-body">
				<a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.thread"{% else %}href="{{ slug or 'app' }}-forum-thread.html"{% endif %} class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
				<div class="text-light">
					Topic: <a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.category"{% else %}href="{{ slug or 'app' }}-forum-category.html"{% endif %}>AngularJS</a> &nbsp;
					By: <a href="#">Adrian Demian</a>
				</div>
			</div>
			<div class="media-right">
				<div class="width-60 text-right">
					<span class="text-caption text-light">2 hrs ago</span>
				</div>
			</div>
		</div>
	</li>
	<li class="list-group-item paper-shadow">
		<div class="media v-middle">
			<div class="media-left">
				<a href="#">
					<img src="images/people/110/guy-5.jpg" alt="person" class="img-circle width-40"/>
				</a>
			</div>
			<div class="media-body">
				<a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.thread"{% else %}href="{{ slug or 'app' }}-forum-thread.html"{% endif %} class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
				<div class="text-light">
					Topic: <a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.category"{% else %}href="{{ slug or 'app' }}-forum-category.html"{% endif %}>AngularJS</a> &nbsp;
					By: <a href="#">Adrian Demian</a>
				</div>
			</div>
			<div class="media-right">
				<div class="width-60 text-right">
					<span class="text-caption text-light">3 hr ago</span>
				</div>
			</div>
		</div>
	</li>
	<li class="list-group-item paper-shadow">
		<div class="media v-middle">
			<div class="media-left">
				<a href="#">
					<img src="images/people/110/guy-4.jpg" alt="person" class="img-circle width-40"/>
				</a>
			</div>
			<div class="media-body">
				<a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.thread"{% else %}href="{{ slug or 'app' }}-forum-thread.html"{% endif %} class="text-subhead link-text-color">Can someone help me with AngularJS?</a>
				<div class="text-light">
					Topic: <a {% if angular %}ui-sref="{{ slug or 'app' }}-forum.category"{% else %}href="{{ slug or 'app' }}-forum-category.html"{% endif %}>AngularJS</a> &nbsp;
					By: <a href="#">Adrian Demian</a>
				</div>
			</div>
			<div class="media-right">
				<div class="width-60 text-right">
					<span class="text-caption text-light">4 hr ago</span>
				</div>
			</div>
		</div>

	</li>
</ul>