<div class="row" data-toggle="isotope">
    <div class="item col-xs-12 col-sm-6 col-lg-4" ng-repeat="course in courses">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-primary",
        coverIcon: "::courseIconPicker()::",
        coverBtn: "btn-primary",
        coverHeight: "height-100",
        itemTitle: "::course.name::",
        itemLabel: "bg-gray-dark",
        itemRating: true,
        itemMeta: false,
        itemMeta2: true,
        itemTags: false,
        itemOverview: "::course.overview::",
        itemDescription: true,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-grey-600" } %}
    </div>
</div>
{% include "src/html/themes/html/_pagination.html" %}