<div class="row" data-toggle="isotope">
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-default",
        coverIcon: "fa-github",
        coverBtn: "btn-white",
        coverHeight: "height-100",
        itemTitle: "Github Webhooks for Beginners",
        itemLabel: "bg-gray-dark",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-grey-600" } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-primary",
        coverIcon: "fa-css3",
        coverBtn: "btn-primary",
        coverHeight: "height-100",
        itemTitle: "Awesome CSS with LESS Processing",
        itemLabel: "label-primary",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-blue-300" } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-lightred",
        coverIcon: "fa-windows",
        coverBtn: "btn-red-500",
        coverHeight: "height-100",
        itemTitle: "Vagrant Portable Environments",
        itemLabel: "bg-lightred",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-red-300" } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-brown",
        coverIcon: "fa-wordpress",
        coverBtn: "btn-orange-500",
        coverHeight: "height-100",
        itemTitle: "WordPress Theme Development",
        itemLabel: "bg-brown",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-orange-300"  } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-purple",
        coverIcon: "fa-jsfiddle",
        coverBtn: "btn-purple-500",
        coverHeight: "height-100",
        itemTitle: "Browserify: Writing Modular JavaScript",
        itemLabel: "bg-purple",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-deep-purple-300"  } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-pink-400 text-white",
        coverIcon: "fa-cc-visa",
        coverBtn: "btn-pink-500",
        coverHeight: "height-100",
        itemTitle: "Online Payments with Stripe",
        itemLabel: "bg-pink-400",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessonsBar: "progress-bar-pink-300" } %}
    </div>
</div>

{% include "src/html/themes/html/_pagination.html" %}