<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
    <div class="panel-heading panel-collapse-trigger">
        <h4 class="panel-title">Recent updates</h4>
    </div>
    <div class="panel-body list-group">
        <ul class="list-group list-group-menu">
            <li class="list-group-item{% if (page.slug == 'website-student-dashboard') %} active{% endif %}"{% if angular %} ui-sref-active="active"{% endif %}><a class="link-text-color" {% if angular %}ui-sref="website-student.dashboard"{% else %}href="website-student-dashboard.html"{% endif %}>New assignment 1 </a></li>
            <li class="list-group-item{% if (page.slug == 'website-student-dashboard') %} active{% endif %}"{% if angular %} ui-sref-active="active"{% endif %}><a class="link-text-color" {% if angular %}ui-sref="website-student.dashboard"{% else %}href="website-student-dashboard.html"{% endif %}>New deadline 1 </a></li>
            <li class="list-group-item{% if (page.slug == 'website-student-dashboard') %} active{% endif %}"{% if angular %} ui-sref-active="active"{% endif %}><a class="link-text-color" {% if angular %}ui-sref="website-student.dashboard"{% else %}href="website-student-dashboard.html"{% endif %}>New announcement 1 </a></li>
        </ul>
    </div>
</div>

