<div class="parallax bg-white page-section">
    <div class="parallax-layer container" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left">
                <span class="icon-block s60 bg-lightred"><i class="fa fa-github"></i></span>
            </div>
            <div class="media-body">
                <h1 class="text-display-1 margin-none">Github Webhooks for Beginners</h1>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
            <div class="media-right">
                <a class="btn btn-white" {% if angular %}ui-sref="website-courses.grid"{% else %}href="website-directory-grid.html"{% endif %}>Library</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8">

            <div class="page-section">
                <div class="width-350 width-300-md width-100pc-xs paragraph-inline">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/Ycv5fNd4AeM?rel=0"></iframe>
                    </div>
                </div>
                <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto
                    laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid
                    assumenda consequuntur cupiditate deleniti dicta dolore dolorem <strong>dolores enim </strong>eos hic illo inventore iure
                    libero magnam minima minus obcaecati optio pariatur porro quibusdam quos reiciendis, sapiente sint veritatis.
                    Eveniet in magni sunt?</p>
                <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto
                    laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid
                    assumenda consequuntur cupiditate deleniti dicta dolore dolorem <strong>dolores enim </strong>eos hic illo inventore iure
                    libero.</p>
                <br/>
                <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto
                    laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid
                    assumenda consequuntur cupiditate deleniti dicta dolore dolorem <strong>dolores enim </strong>eos hic illo inventore iure
                    libero magnam minima minus obcaecati optio pariatur porro quibusdam quos reiciendis, sapiente sint veritatis.
                    Eveniet in magni sunt?</p>
                <br/>
                <p class="margin-none">
                    <span class="label bg-gray-dark">New</span>
                    <span class="label label-grey-200">WordPress</span>
                    <span class="label label-grey-200">Beginner</span>
                </p>
            </div>

            <div class="page-section">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="text-headline margin-none">What you'll learn</h2>
                        <p class="text-subhead text-light">A minus obcaecati optio pariatur porro.</p>
                        <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
                            <li class="list-group-item">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-red-300 text-white img-circle">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        Basics of GIT and how to become a STAR.
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item paper-shadow">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-green-300 text-white img-circle">
                                            <i class="fa fa-database"></i>
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        Database connections & some other nice features.
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item paper-shadow">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-indigo-300 text-white img-circle">
                                            <i class="fa fa-trophy"></i>
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        Eaque ex exercitationem quia reprehenderit?
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item paper-shadow">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-orange-300 text-white img-circle">
                                            <i class="fa fa-code-fork"></i>
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        Ab distinctio nemo, provident quia quibusdam ullam.
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item paper-shadow">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-grey-500 text-white img-circle">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        Conclusion & Notes.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">

                        <div class="pull-right">
                            <a class="btn btn-white btn-circle paper-shadow relative" data-z="1" href="#"><i class="md md-add"></i></a>
                        </div>

                        <h2 class="text-headline margin-none">Testimonials</h2>
                        <p class="text-subhead text-light">A few words from our past students</p>
                        {% include "src/html/themes/html/testimonial/_carousel-2.html" { dataItems: 1, dataItemsLg: 1, dataItemsMd: 1, dataItemsSm: 1 } %}

                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3 col-md-4">

            <div class="page-section">

                <!-- .panel -->
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-heading">
                        <h4 class="text-headline">Course</h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-caption">
                            <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp;
                            <i class="fa fa-calendar fa-fw"></i> 21/10/14 <br/>
                            <i class="fa fa-user fa-fw"></i> Instructor: Adrian Demian <br/>
                            <i class="fa fa-mortar-board fa-fw"></i> Max. students: 50 <br/>
                            <i class="fa fa-check fa-fw"></i> Attending: 30
                        </p>
                    </div>
                    <hr class="margin-none"/>
                    <div class="panel-body text-center">
                        <p><a class="btn btn-success btn-lg paper-shadow relative" data-z="1" data-hover-z="2" data-animated {% if angular %}ui-sref="website-student.take-course"{% else %}href="website-take-course.html"{% endif %}>Start Course</a></p>
                        <p class="text-body-2">or <a href="#">buy course for $1</a></p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#" class="text-light"><i class="fa fa-facebook fa-fw"></i> Share on facebook</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-light"><i class="fa fa-twitter fa-fw"></i> Tweet this course</a>
                        </li>
                    </ul>
                </div>
                <!-- // END .panel -->

                <!-- .panel -->
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        {% include "src/html/themes/html/course/_author-expandable.html" %}
                    </div>
                </div>
                <!-- // END .panel -->

            </div>
            <!-- // END .page-section -->

        </div>
    </div>

</div>

<div class="bg-white page-section">
    <div class="container">
        <h4>Featured</h4>
        {% include "src/html/themes/html/courses/_carousel.html" { dataItems: 4, dataItemsLg: 3, dataItemsMd: 2, dataItemsSm: 1 } %}
    </div>
</div>