{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'Am I learning the right way?',
    iconBg: 'bg-grey-300',
    name: 'Adrian Demian',
    photo: 'guy-6',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'Can someone help me? I need a design advice',
    iconBg: 'bg-grey-300',
    name: 'Jennifer Hudson',
    photo: 'woman-6',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'I think this is the right way?',
    iconBg: 'bg-grey-300',
    name: 'Michelle Gustav',
    photo: 'woman-4',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'Getting around AngularJS',
    iconBg: 'bg-grey-300',
    name: 'Jonny Francine',
    photo: 'guy-4',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'I think this is the right way?',
    iconBg: 'bg-grey-300',
    name: 'Michelle Gustav',
    photo: 'woman-4',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'Responsive Bootstrap Question',
    iconBg: 'bg-grey-300',
    name: 'Mary Deb',
    photo: 'woman-5',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'Am I learning the right way?',
    iconBg: 'bg-grey-300',
    name: 'Adrian Demian',
    photo: 'guy-6',
    time: '5 mins' } %}

{% include "src/html/themes/html/blog/_listing-item.html" {
    title: 'Responsive Bootstrap Question',
    iconBg: 'bg-grey-300',
    name: 'Mary Deb',
    photo: 'woman-5',
    time: '5 mins' } %}

{% include "src/html/themes/html/_pagination.html" %}

<br/>