{% include "src/html/themes/angular/website/_navbar_take_course.html" %}

<div class="container" style="background-image: url(images/github-cover.jpg);">
    <div class="course-cover">
    <div class="row-fluid">
      <div class="col-md-12 white nopadding cover-info">
        <div>
          <h1><font style="color:white">::course.name::</font></h1>
        </div>
        <div class="row-fluid-main">
          <div class="row-fluid">
            <div class="col-xs-6 col-sm-3" style="">
              <p style="font-weight:bold;color:#fff;">
                IIIT-Delhi
              </p>
              <p style="font-weight:bold;color:#fff;">
               
                            </p>
                <p style="font-weight:bold;color:#fff;">
                    ::course.credits::
                </p>
              
            </div>

            <div class="col-xs-6 col-sm-3 add-info" style="color:#fff">
              <p><strong>Instructors</strong></p>
              <ul>
                  <li ng-repeat="instructor in course.instructors">  
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title= "::instructor.name::" >
                          ::instructor.name::
                    <br>
                  </li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-3 add-info">

                <p><strong><font style="color:white">Teaching Assistants</font></strong></p>


                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Nishtha Phutela">
                      </a>


                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Chaitanya Tanwar">
                      </a>


                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Nishesh Manaktala">
                      </a>


                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Siddharth Gupta">
                      </a>


                      <a href="#"class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Rohit Mehra">
                      </a>


                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Ishan Manjani">
                      </a>

 
                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Chaitanya Kumar">
                      </a>


                      <a href="#" class="ajaxlink" data-remote="true" data-target="#user_profile_modal" data-toggle="modal">
                        <img title="" data-toggle="tooltip" data-placement="top" src="::personImagePicker()::" style="width:30px;height:30px;margin-bottom:5px;margin-right:10px;" class="img-circle tooltip_class  badge-icon ta-photo" data-original-title="Archie Gupta">
                      </a>


            </div>

            <div class="col-xs-6 col-sm-3 add-info">
                    <div id="follow">
                        <form accept-charset="UTF-8" action="/usercourses" class="new_usercourse" id="quick_new_usercourse" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="XuvfvdBQw+eWvO/HwQnx2TNqf/gFa7gNx595jFau8uQ="></div>
    <input id="quick_usercourse_course_id" name="course[164]" type="hidden" value="0">
    <input id="quick_usercourse_user_id" name="usercourse[user_id]" type="hidden" value="781">
    <input id="1" name="ajax" type="hidden" value="value">
    <input class="btn btn-info" name="commit" style="margin-bottom:10px;margin-left:5px;" type="submit" value="Leave Course">
</form>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="page-section">
        <div class="row">

            <div class="col-md-9">

                {% block content %}{% endblock %}

                <br/>
                <br/>

            </div>
            <div class="col-md-3">

                {% include "src/html/themes/html/layouts/sidebar/_website-take-course.html" %}

            </div>

        </div>
    </div>

</div>

{% include "lib/layout/html/_footer_copyright.html" %}