<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="container">
                    <div class="page-header">
                        <center><h1 id="timeline">Recent Updates</h1></center>
                    </div>
                    <ul class="timeline">
                        <li ng-repeat="timelineUpdate in timelineUpdates" class="::timelineUpdate.boxClass::">
                          <div class="timeline-badge ::timelineUpdate.badge::"><i class="glyphicon glyphicon-check"></i></div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <h4 class="timeline-title" style="color: #42A5F5;">::timelineUpdate.update_text::</h4>
                              <h5><i class="glyphicon glyphicon-time"></i> :: timelineUpdate.created_time |  date:'yyyy-MM-dd HH:mm:ss'::</h5>
                            </div>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>  


<div ng-if="timelineUpdates.length == 0 || timelineUpdates == undefined">
    <alert>
      <center><h3>
        There are no updates for you 
      </h3></center>
    </alert>
</div>

