{% include "lib/layout/html/_header.html" { htmlClass: 'st-layout ls-top-navbar-large ls-bottom-footer show-sidebar sidebar-l3' } %}

<!-- Wrapper required for sidebar transitions -->
<div class="st-container">

    {% include "src/html/themes/html/layouts/nav/_navbar_client.html" %}

    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
    {% include "src/html/themes/html/layouts/sidebar/_app-student.html" { sidebarOptions: "left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" } %}

    <!-- sidebar effects OUTSIDE of st-pusher: -->
    <!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->

    <!-- content push wrapper -->
    <div class="st-pusher" id="content">

        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

        <!-- this is the wrapper for the content -->
        <div class="st-content">

            <!-- extra div for emulating position:fixed of the menu -->
            <div class="st-content-inner padding-none">

                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>

            </div><!-- /st-content-inner -->

        </div><!-- /st-content -->

    </div><!-- /st-pusher -->

    {% include "lib/layout/html/_footer_copyright.html" %}

</div><!-- /st-container -->

{% include "lib/layout/html/_footer_scripts.html" %}