{% include "lib/layout/html/_header.html" { htmlClass: "transition-navbar-scroll top-navbar-xlarge bottom-footer" } %}

{% include "src/html/themes/html/layouts/nav/_navbar_public.html" %}

<div class="parallax bg-white page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle media-overflow-visible">
            <div class="media-left">
                <span class="icon-block s30 bg-lightred"><i class="fa fa-github"></i></span>
            </div>
            <div class="media-body">
                <div class="text-headline">Github Webhooks for Beginners</div>
            </div>
            <div class="media-right">
                <div class="dropdown">
                    <a class="btn btn-white dropdown-toggle" data-toggle="dropdown" href="#">Course <span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="">Something</a></li>
                        <li><a href="">Something else</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-section">
        <div class="row">

            <div class="col-md-9">

                {% block content %}{% endblock %}

                <br/>
                <br/>

            </div>
            <div class="col-md-3">

                {% include "src/html/themes/html/layouts/sidebar/_website-take-course.html" %}

            </div>

        </div>
    </div>

</div>

{% include "lib/layout/html/_footer_copyright.html" %}

{% include "lib/layout/html/_footer_scripts.html" %}