{% include "lib/layout/html/_header.html" { htmlClass: "transition-navbar-scroll top-navbar-xlarge bottom-footer" } %}

{% include "src/html/themes/html/layouts/nav/_navbar_public.html" %}

{% include "src/html/themes/html/courses/_website-directory-cover.html" %}

<div class="container">

    <div class="page-section">
        <div class="row">

            <div class="col-md-9">

                {% block content %}{% endblock %}

            </div>
            <div class="col-md-3">

                {% include "src/html/themes/html/courses/_website-directory-sidebar.html" %}

            </div>

        </div>
    </div>

</div>

{% include "src/html/themes/html/_footer.html" %}

{% include "lib/layout/html/_footer_copyright.html" %}

{% include "lib/layout/html/_footer_scripts.html" %}