<div class="row" data-toggle="isotope">

    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-default",
        coverIcon: "fa-github",
        coverBtn: "btn-white",
        itemTitle: "Github Webhooks for Beginners",
        itemLabel: "bg-gray-dark",
        itemButton: true,
        itemButtonText: "Edit course",
        itemButtonIcon: "fa-pencil",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessons: false } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-primary",
        coverIcon: "fa-css3",
        coverBtn: "btn-primary",
        itemTitle: "Awesome CSS with LESS Processing",
        itemLabel: "label-primary",
        itemButton: true,
        itemButtonText: "Edit course",
        itemButtonIcon: "fa-pencil",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessons: false } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-lightred",
        coverIcon: "fa-windows",
        coverBtn: "btn-red-500",
        itemTitle: "Vagrant Portable Environments",
        itemLabel: "bg-lightred",
        itemButton: true,
        itemButtonText: "Edit course",
        itemButtonIcon: "fa-pencil",
        itemRating: false,
        itemMeta: false,
        itemMeta2: false,
        itemTags: false,
        itemDescription: false,
        itemUrl: itemUrl,
        lessons: false } %}
    </div>
    <div class="item col-xs-12 col-sm-6 col-lg-4">
        {% include "src/html/themes/html/courses/_listing-grid-widget.html" {
        coverBg: "bg-grey-200",
        coverIcon: "fa-plus text-grey-600",
        coverHover: false,
        coverBtn: "btn-white",
        itemBody: false,
        itemUrl: itemUrl,
        lessons: false } %}
    </div>

</div>
{% include "src/html/themes/html/_pagination.html" %}