<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h4 class="text-headline margin-none">General</h4>
                    <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Dolores, illo.</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
            </div>
        </li>

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'Am I learning the right way?',
            iconBg: 'bg-grey-300',
            name: 'Adrian Demian',
            photo: 'guy-6',
            time: '5 mins',
            itemUrl: itemUrl } %}

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'Can someone help me? I need a design advice',
            iconBg: 'bg-grey-300',
            name: 'Jennifer Hudson',
            photo: 'woman-6',
            time: '5 mins',
            itemUrl: itemUrl } %}

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'I think this is the right way?',
            iconBg: 'bg-grey-300',
            name: 'Michelle Gustav',
            photo: 'woman-4',
            time: '5 mins',
            itemUrl: itemUrl } %}

    </ul>
</div>

<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h4 class="text-headline margin-none">Lessons</h4>
                    <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Dolores, illo.</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
            </div>
        </li>

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'Getting around AngularJS',
            iconBg: 'bg-grey-300',
            name: 'Jonny Francine',
            photo: 'guy-4',
            time: '5 mins',
            itemUrl: itemUrl } %}

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'I think this is the right way?',
            iconBg: 'bg-grey-300',
            name: 'Michelle Gustav',
            photo: 'woman-4',
            time: '5 mins',
            itemUrl: itemUrl } %}

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'Responsive Bootstrap Question',
            iconBg: 'bg-grey-300',
            name: 'Mary Deb',
            photo: 'woman-5',
            time: '5 mins',
            itemUrl: itemUrl } %}

    </ul>
</div>

<div class="panel panel-default paper-shadow" data-z="0.5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="media v-middle">
                <div class="media-body">
                    <h4 class="text-headline margin-none">Support</h4>
                    <p class="text-subhead text-light">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Dolores, illo.</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-white btn-flat"><i class="fa fa-fw fa-plus"></i> New Topic</a>
                </div>
            </div>
        </li>

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'Am I learning the right way?',
            iconBg: 'bg-grey-300',
            name: 'Adrian Demian',
            photo: 'guy-6',
            time: '5 mins',
            itemUrl: itemUrl } %}

        {% include "src/html/themes/html/forum/_listing-item.html" {
            title: 'Responsive Bootstrap Question',
            iconBg: 'bg-grey-300',
            name: 'Mary Deb',
            photo: 'woman-5',
            time: '5 mins',
            itemUrl: itemUrl } %}

    </ul>
</div>
<br/>