{% extends "src/html/themes/choose/_layout.html" %}

{% block content %}

	<div class="container">
		<div class="alert alert-choose margin-none"><i class="fa fa-gift fa-fw text-success fa-2x"></i> Purchase ONCE and get endless amazing updates along with new features for FREE</div>
		<div class="page-section">
			<div class="page-section-heading">
				<h1>Learning App - HTML, Angular Template</h1>
				<p class="lead">Premium learning management template with specialised features, including multiple views(app, website), various interfaces (student, instructor), interactive layouts plus much more.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="html/index.html">Student Application</a></h4>
					</div>
					<div class="panel-body">
						<a href="angular/index.html#/app-student/dashboard" class="display-inline-block">
							<img src="choose/images/choose-student-app.png" alt="Student Learning Application" class="img-responsive"/>
						</a>
						<br/>
						<p>
							<a href="html/app-student-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
							<a href="angular/index.html#/app-student/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="angular/index.html">Instructor Application</a></h4>
					</div>
					<div class="panel-body">
						<a href="angular/index.html#/app-instructor/dashboard" class="display-inline-block">
							<img src="choose/images/choose-instructor-app.png" alt="Instructor Learning Application" class="img-responsive"/>
						</a>
						<p>
							<a href="html/app-instructor-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
							<a href="angular/index.html#/app-instructor/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="html/index.html">Student Website</a></h4>
					</div>
					<div class="panel-body">
						<a href="angular/index.html#/website-student/dashboard" class="display-inline-block">
							<img src="choose/images/choose-student-website.png" alt="Student Learning Website" class="img-responsive"/>
						</a>
						<br/>
						<p>
							<a href="html/website-student-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
							<a href="angular/index.html#/website-student/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="angular/index.html">Instructor Website</a></h4>
					</div>
					<div class="panel-body">
						<a href="angular/index.html#/website-instructor/dashboard" class="display-inline-block">
							<img src="choose/images/choose-instructor-website.png" alt="Instructor Learning Website" class="img-responsive"/>
						</a>
						<p>
							<a href="html/website-instructor-dashboard.html" class="btn btn-primary"><i class="fa fa-mortar-board"></i> Live HTML</a>
							<a href="angular/index.html#/website-instructor/dashboard" class="btn btn-danger"><i class="fa fa-mortar-board"></i> Live Angular</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="page-section">
		<div class="container text-center">
			<h3 class="lead page-section-heading margin-none">You may also like ...</h3>
			<a class="height-90 height-auto-xs display-inline-block overflow-hidden" target="_blank" href="http://themeforest.net/item/themekit-angular-html-bootstrap-themes-admin/6767145?ref=mosaicpro"><img class="img-responsive" src="https://0.s3.envato.com/files/119752388/preview.__large_preview.jpg" alt="ThemeKit - Angular Bootstrap HTML Template" /></a>
		</div>
	</div>
{% endblock %}